.root {
    /* -fx-font-size: 14px; */
    -fx-background-color: #ADD8E6;
    -fx-font-family: sans-serif-verdana;
    -fx-font-size: 15px;
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.choice-box {
    -fx-border-color: darkgray;
    -fx-border-radius: 8px;
    -fx-border-width: 2px;
    -fx-background-radius: 8px;
    -fx-padding: 5px 22px;
}

.button {
    -fx-border-color: darkgray;
    -fx-border-radius: 8px;
    -fx-border-width: 2px;
    -fx-padding: 5px 22px;
    -fx-text-align: center;
    -fx-background-radius: 8px;
}

.menu-bar {
    -fx-background-color: cadetblue;
}

.table-view {
    -fx-border-color: cadetblue;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: cadetblue;
}

.table-view .table-cell {
    -fx-border-color: darkgray;
    -fx-border-width: 1px;
    -fx-background-color: #ADD8E6;
}

.table-view .virtual-flow .scroll-bar {
    -fx-background-color: darkgrey;
}

.text-field {
    -fx-border-color: gray;
}