.root {
    /* -fx-font-size: 14px; */
    -fx-background-color: #ADD8E6;
    -fx-font-family: sans-serif-verdana;
    -fx-font-size: 15px;
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.choice-box {
    -fx-border-color: darkgray;
    -fx-border-radius: 8px;
    -fx-border-width: 2px;
    -fx-background-radius: 8px;
    -fx-padding: 5px 22px;
}

.button {
    -fx-border-color: darkgray;
    -fx-border-radius: 8px;
    -fx-border-width: 2px;
    -fx-padding: 5px 22px;
    -fx-text-align: center;
    -fx-background-radius: 8px;
}

.menu-bar {
    -fx-background-color: cadetblue;
}